.sec-galeria h2{
    padding-top: 100px;
    padding-bottom: 30px;
}

.sec-galeria{
    width: 80%;
    height: auto;
    margin-bottom: 200px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagenes{

    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;  
}

.imagen-galeria img{
    aspect-ratio: 16 / 9;
    max-width: 100%;
    object-fit: cover;
    transition: transform 300ms;
}

.imagen-galeria img:hover{
    transform: scale(1.05);
}

#galeria{
    scroll-margin-top: 0px;
}