/*SECCION*/

.sec-personajes{
    font-size: 30px;

    margin-bottom: 50px;
    width: 90%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec-personajes h2{
    padding-bottom: 20px;
}

.sec-personajes h3{
    font-size: 25px;
}


article{
    align-items: center;
}

/*TEXTO E IMAGENES*/

.imagen img{
    width: 100%;
    height: auto;
}

.imagen{
    width: 45%;
}

.texto{
    width: 55%;

    display: flex;
    flex-direction: column;
}

.texto p{
    font-size: 18px;
    line-height: 25px;
    width: 90%;
}

/*MICHAEL*/

.personajes{
    padding: 60px;
    width: 90%;
    margin: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: black;
    margin-bottom: 150px;
}

#michael h3{
    color: #4A7FB8;
    font-size: 25px;
}

/*FRANKLIN*/

#franklin h3{
    color: #6CB44C;
}



/*TREVOR*/


#trevor h3{
    color: #D08A2E;
}